<button matIconButton [matMenuTriggerFor]="menu">
    <mat-icon fontSet="material-symbols-rounded">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">

    <button data-testid="ask-request" mat-menu-item (click)="onAskRequest()"
        [disabled]="(state.indicator$ | async) !== IndicatorState.READY_FOR_REQUEST">
        <mat-icon fontSet="material-symbols-rounded">thumb_up</mat-icon>
        <span>Faire du stop</span>
    </button>
    <button data-testid="cancel-request" mat-menu-item (click)="onCancelRequest()"
        [disabled]="((state.indicator$ | async)?.valueOf()??0) < IndicatorState.REQUEST_SENT">
        <mat-icon fontSet="material-symbols-rounded">cancel</mat-icon>
        <span>annuler</span>
    </button>
</mat-menu>