<ul>
    @for (item of items(); track $index) {
    <li class="trip-item" (click)="selectPpec(item)">
        <div class="item-container">
            <div class="list-photo">
                <img [src]="item.photo" alt="Photo" loading="lazy" decoding="async">
            </div>
            <div class="info-item">
                <div class="list-item-aligned">{{item.pseudo}}
                    <mat-icon fontSet="material-symbols-rounded">chevron_right</mat-icon>
                    {{item.destination}}
                </div>
                <div class="list-item-aligned">
                    <mat-icon fontSet="material-symbols-rounded">airport_shuttle</mat-icon>
                    <mat-icon fontSet="material-symbols-rounded">chevron_right</mat-icon>
                    <mat-icon fontSet="material-symbols-rounded">directions_walk</mat-icon>
                    {{position$ | async | distance: item.positionGps}} km
                </div>
                <div class="list-item-aligned">
                    <mat-icon fontSet="material-symbols-rounded">call_received</mat-icon>
                    {{item.horodatage|date:'shortTime'}}
                </div>
            </div>
        </div>
    </li>

    }@empty {
    <li>No items found.</li>
    }
</ul>